<%- include("header") -%>
    <div class="box" id="heading">
        <h1><%= Title %></h1>
    </div>
    
    <div class="box">
        <% for (i=0;i<newTasks.length;i++){ %>
            <div class="item">
                <input type="checkbox" name="" id="">
                <p><%= newTasks[i]%></p>
            </div>
        <% } %>
    
        

    <form class="item" action="/" method="post">
        <input type="text" name="task" placeholder="New Task" autocomplete="off">
        <button type="submit" name="list" value="<%= Title %>">+</button>
    </form>
    </div>

<%- include("footer") -%>