<%- include("header") -%>
    <div class="box" id="heading">
        <h1><%= Title %></h1>
    </div>
    
    <form action="/delete" method="post">
    <div class="box">
        <% for (i=0;i<newTasks.length;i++){ %>
            <div class="item">
                <input type="checkbox" name="checkbox" value="<%= newTasks[i]._id %>" onclick='this.form.submit()' id="">
                <p><%= newTasks[i].name%></p>
            </div>
        <% } %>
        <input type="hidden" name="listName" value="<%= Title %>">
    </form>
    
        

    <form class="item" action="/" method="post">
        <input type="text" name="task" placeholder="New Task" autocomplete="off">
        <button type="submit" name="list" value="<%= Title %>">+</button>
    </form>
    </div>

<%- include("footer") -%>